.pregunta1{
       background: aquamarine;
}
.content-div-pregunta2{
       background:bisque;
}
.pregunta3{
       color: red;
}
.pregunta6{
       color: blue;
}
.pregunta7{
       background: aqua;
}
.pregunta8{
       background: yellow;
}